* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-color: rgb(41, 98, 223);
    min-height: 70px;
    color: white;
}

section {
    padding: 60px 0;
    min-height: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 14px;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    display: inline-block;
}

.btn-white {
    color: black;
    background-color: white;
}

.btn-black {
    color: white;
    background-color: rgb(35, 39, 42);
    margin-left: 30px;
}

.btn-big {
    padding: 15px 20px;
    font-size: 22px;
    border-radius: 30px;
}

#bar {
    height: 80px;
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    align-items: center;
    justify-content: space-around;

}

a {
    padding-left: 50px;
    text-decoration: none;
    color: white;
}

#jumbotron .content {
    width: 50%;
    text-align: center;
}

#jumbotron h1 {
    font-size: 50px;
    margin-bottom: 20px
}

#jumbotron p {
    font-size: 22px;
    line-height: 50px;
    margin-bottom: 40px;
}

#jumbotron {
    display: flex;
    background-image: url(../jumbo.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    background-color: rgb(41, 98, 223);
    justify-content: center;
    align-items: center;
}

.white {
    background-color: white;
}

.grey {
    background-color: rgb(237, 237, 237);
}

.section-container {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
}

.section-image {
    margin: 0 auto;
    text-align: center;
}

.full-page {
    padding: 0 100px;
}

.full-page-image {
    width: 80%;
    padding-left: 300px;
}

h2 {
    padding-bottom: 30px;
}

.small-col {
    background-color: transparent;
    flex-basis: 40%;
    text-align: left;
    padding: 20px;
    font-size: x-large;
    line-height: 35px;
    padding: 50px;
}

.large-col {
    background-color: transparent;
    flex-basis: 60%;
    padding: 20px;
}

footer {
    padding: 80px 0 60px 0;
    background-color: rgb(35, 39, 42);
}

footer .top-footer {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

footer .main-col {
    flex-basis: 25%;
}

footer .menu {
    flex-basis: 75%;
    justify-content: space-between;
    display: flex;
}

#lang {
    color: white;
    text-decoration: none;
    font-size: 16px;
    align-items: center;
    display: flex;
}

#lang * {
    margin-right: 5px;
}

#lang img {
    width: 25px;
}

footer h4,
footer h5 {
    margin-bottom: 20px;
    padding-right: 20px;
    color: rgb(64, 78, 237)
}

.social {
    list-style-type: none;
    display: flex;
    width: 50%;
    margin-top: 20px;
    justify-content: space-between;
}

.social a {
    color: white;
}

.col-menu li {
    font-size: 16px;
    margin-bottom: 20px;
    list-style-type: none;
}

.col-menu a {
    color: white;
    text-decoration: none;
}

.col-menu a:hover {
    text-decoration: underline;
}

.end-footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 20px;
    max-width: 1400px;
    border-top: 1px solid rgb(64, 78, 237);
}

.end-footer img {
    display: block;
}






.wave {
    height: 100px;
    filter: opacity(0.08);
    background-image: url(../wave.svg);
}