* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-color: rgb(47, 94, 196);
    min-height: 70px;
}

section {
    padding: 60px 0;
    min-height: 200px;
}

#bar {
    height: 80px;
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    align-items: center;
    justify-content: space-around;
}

a {
    padding-left: 50px;
    text-decoration: none;
    color: white;
}

#jumbotron .spot {
    height: 100%;
}

#jumbotron {
    display: flex;
    height: 760px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    background-color: transparent;
}

.white {
    background-color: white;
}

.grey {
    background-color: grey;
}

.section-container {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    height: 100%;
}

.small-col {
    background-color: lightblue;
    flex-basis: 40%;
}

.large-col {
    background-color: blue;
    flex-basis: 60%;
}